* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#logo1 {
  right: 14px;
  width: 29px;
  height: 25px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: relative;
  top: -2px;
  bottom: 0px;
  padding: 1px;
}

#logo1:hover {
  background-color: rgba(132, 127, 127, 0.116);
  border-radius: 50%;
}
#logo2 {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: relative;
  top: -5px;
  bottom: 3px;
  right: 27px;
}
#logo2:hover {
  background-color: rgba(128, 128, 128, 0.116);
  border-radius: 12px;
}
#a1 {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
#a1:hover {
  text-decoration: underline;
}
.navbar {
  display: flex;
  justify-content: right;
  position: relative;
  top: 30px ;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 269px;
  margin-right: 0px;
}

.gimg {
  display: flex;
  justify-content: center;
  position: relative;
  top: 40px;
}

#google {
  width: 295px;
  height: 99px;
}
.search {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
#search {
  outline: none;
  line-height: 2.5rem;
  width: 550px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid grey;
  padding-left: 45px;
  padding-right: 45px;
}

#search:hover {
  box-shadow: -1px 1px 3px grey, -1px 1px 3px grey;
  /* border: 2px solid grey ; */
}

#search::-webkit-search-cancel-button {
  /* We can set the cross icon that appears when we type something in the input tag  
      position: relative;
      right: 20px;
      cursor: pointer; 
      size: 20px ; 
  */
  display: none;
}

/* If you want to set your webpage to the browser window try to not use too much margin top bottom or things like 
that instead try to use position : relative/absolute and then set it's left right top bottom properties  */

#srh {
  width: 18px;
  height: 15px;
  position: relative;
  top: 14px;
  left: 33px;
}
#voice {
  width: 20px;
  height: 25px;
  position: relative;
  top: 9px;
  left: -39px;
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: 40px auto;
}

#btn {
  font-size: 14px;
  padding: 12px 10px;
  background-color: #f4eeee57;
  border: none;
  cursor: pointer;
  box-shadow: 2px 1px 2px #f4eeee57;
}

#btn:hover {
  border: 1px solid #b3a7a7;
}

#newa {
  text-decoration: none;
  color: black;
}

.lang {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 15px auto;
}
h5 {
  font-weight: 100;
  font-size: 14px;
}

.naya {
  font-size: 14px;
  text-decoration: underline;
}

a.left , a.right{
  text-decoration: none;
  color: black;
}

a.left:hover , a.right:hover {
  text-decoration : underline ; 
}

.lowernav1 {
  width: 100%;
  height: 50px;
  background-color: #dadce09a; 
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 0px;
  border: none;
  border-bottom: 0.1vh solid rgb(13, 9, 9);
  position: absolute;
  top: 469px;
}
.lowernav2 {
  width: 100%;
  height: 50px;
  background-color: #dadce09a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 519px;
}

/* ul ki bhi display flex kar sakte hai 
uske andar ke jo li hai wo act karenge like flex items  */

.first {
  position: relative;
  left: 10px;
}

#leftul {
  display: flex;
  justify-content: space-between;
  width: 400px;
  position: relative;
  left: 10px;
}

#rightul {
  display: flex;
  justify-content: space-between;
  width: 200px;
  position: relative;
  right: 10px;
}